<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  {% load static %}
  <link rel="stylesheet" href="{% static "map/css/login.css" %}">
  <title>Trans Safety Map</title>
</head>
<body>
Here's where some information about the project goes.</br></br>

okay but do you just want to see the <a href="/map/">map</a>?
</body>
</html>